:root {
  --primary: #ffffff;
  --secondary: #212429;
  --size: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

main {
  margin: 24px;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--primary);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box2 span {
  padding: 16px;
}

.box2 {
  padding: 16px;
}
.box3 {
  padding: 16px;
}

.box3 img {
  margin-right: 16px;
  
}

.grid-container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}



.item-flex-container {
  display: flex;
  justify-content: space-between;
}

.grid-item {
  margin: 24px;
}

.grid-item img {
  border-radius: 8px;
}

.grid-item img:hover {
  cursor: zoom-in;
}


h1 {
  font-size: 32px;
  font-style: bold;
  margin-left: 32px;
  margin-top: 96px;
}

p {
  font-size: 14px;
}

.containerfoot {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: var(--secondary);
  color: var(--primary);
  margin-bottom: 16px;
}
.boxfoot {
  display: flex;
  align-items: center;
}


.boxfoot span{
  background-color: var(--primary);
  border-radius: 100px;
  padding: 8px;
  margin-right: 8px;
}

@media screen and (max-width: 920px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);

    align-content: center;
  }

  .boxfoot {
    border-bottom: 1px solid white;
  }

  .box2,
  .box3 {
    display: none;
  }

  .containerfoot {
    flex-direction: column;
    gap: 32px;
  }

  .boxfoot span {
    margin-bottom: 8px;
  }

 
}
